*.py~

# Distribution / packaging
build/
cache.txt
metadata.ttl
__pycache__/
eggs/
.eggs/
*.egg-info/
*.egg

# Temp files
metadata.ttl
metadata*
cache.txt
data/wikidata

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

relabeledSeqs*

# Generated dirs/files
metadata_from_nuccore/
