      <section class="header">
      <div class="logo"><a href="https://covid19.genenetwork.org/"><img src="{{ url_for('static',filename='image/pubseq-aln.png') }}" width="150" title="COVID19 PubSeq"></a></div>
      <h1>COVID-19 PubSeq: Public SARS-CoV-2 Sequence Resource</h1>

      <p><span id="Counter"></span> public sequences ready for <a href="/download">download</a>!</p>

May 2021 update: we are now at 86,377 sequences with normalized metadata on <a href="https://pubseq-datasets.s3.us-east-2.amazonaws.com/index.html#PubSeq-20210407/json/">AWS OpenData</a>! 
      </section>
