<!DOCTYPE html>
<html>
  {% include 'header.html' %}
  <body>
    {% include 'banner.html' %}
    {% include 'menu.html' %}

    {% if embed %}
    {{ embed|safe }}
    <hr>

    <p>
      Other blog entries:
    </p>

    {% else %}
    {% include 'blurb.html' %}

    <h2>BLOG Entries:</h2>
    {% endif %}

    <section class="blog-entries">
      <div class="blog-table">
        <div class="blog-table-body">
          <div class="blog-table-row">
            <div class="blog-table-cell">
              <a href="/blog?id=using-covid-19-pubseq-part1">Query metadata with SPARQL</a>
            </div>
            <div class="blog-table-cell">
              We fetch sequence data and metadata. We query
              the metadata in multiple ways using SPARQL and onthologies
            </div>
          </div>
          <div class="blog-table-row">
            <div class="blog-table-cell">
              <a href="/blog?id=using-covid-19-pubseq-part3">Submitting a sequence</a>
            </div>
            <div class="blog-table-cell">
              We submit a sequence to the database. In this BLOG we fetch
              a sequence from GenBank and add it to the database.
            </div>
          </div>
          <div class="blog-table-row">
            <div class="blog-table-cell">
              <a href="/blog?id=using-covid-19-pubseq-part4">Modify workflow</a>
            </div>
            <div class="blog-table-cell">
              We modify a workflow to get new output
            </div>
          </div>
          <div class="blog-table-row">
            <div class="blog-table-cell">
              <a href="/blog?id=using-covid-19-pubseq-part5">Modify metadata</a>
            </div>
            <div class="blog-table-cell">
              We modify metadata for all to use! In this BLOG we add a field
              for a creative commons license.
            </div>
          </div>
          <div class="blog-table-row">
            <div class="blog-table-cell">
              <a href="/blog?id=using-covid-19-pubseq-part2">Interacting with Arvados</a>
            </div>
            <div class="blog-table-cell">
              We explore the Arvados command line and API
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include 'footer.html' %}

    <script type="text/javascript">
      let scriptRoot = {{ request.script_root|tojson|safe }}; // examples

      document.addEventListener("DOMContentLoaded", function(){
          var count = fetch("/api/getCount")
              .then((resp) => resp.json())
              .then(function (data) {
                  count = data["sequences"];
                  console.log(count);
                  span = document.getElementById("Counter");
                  txt = document.createTextNode(count);
                  span.appendChild(txt);
              });
      });

    </script>
  </body>

</html>
