<p>

  COVID-19 PubSeq is a free and open online bioinformatics public
  sequence resource with on-the-fly analysis of sequenced SARS-CoV-2
  samples that allows for a quick turnaround in identification of new
  virus strains. PubSeq allows anyone to upload sequence material in
  the form of FASTA or fastq files with accompanying metadata through
  a web interface or REST API

  COVID-19 PubSeq is also a repository for sequences with a low
  barrier to entry for uploading sequence data using best practices,
  including <a href="https://en.wikipedia.org/wiki/FAIR_data">FAIR
  data</a>. Data are published with metadata using state-of-the art
  standards and, perhaps most importantly, providing standardised
  workflows that get triggered on upload, so that results are
  immediately available in standardised data formats.

  Your uploaded sequence will automatically be processed and
  incorporated into the public pangenome with metadata using worklows
  from the High Performance Open Biology Lab
  defined <a href="https://github.com/hpobio-lab/viral-analysis/tree/master/cwl/pangenome-generate">here</a>. Importantly, all
  data is published under
  a <a href="https://creativecommons.org/">Creative
  Commons license</a> (CC0 or CC-BY-4.0). Anyone can take the
  published (GFA/RDF/FASTA) data and use it for
  further processing.
</p>
