<p>
  This is the COVID-19 Public Sequence Resource (COVID-19 PubSeq) for
  SARS-CoV-2 virus sequences. COVID-19 PubSeq is a repository for
  sequences with a low barrier to entry for uploading sequence data
  using best practices. I.e., data published with a creative commons
  CC0 or CC-4.0 license with metadata using state-of-the art standards
  and, perhaps most importantly, providing standardised workflows that
  get triggered on upload, so that results are immediately available
  in standardised data formats.
</p>
