<!DOCTYPE html>
<html>
  {% include 'header.html' %}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
        integrity="sha512-RLEjtaFGdC4iQMJDbMzim/dOvAu+8Qp9sw7QE4wIMYcg2goVoivzwgSZq9CsIxp4xKAZPKh5J2f2lOko2Ze6FQ=="
        crossorigin=""/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
        integrity="sha512-BBToHPBStgMiw0lD4AtkRIZmdndhB6aQbXpX7omcrXeG2PauGBl2lzq2xUZTxaLxYz5IDHlmneCZ1IJ+P3kYtQ=="
        crossorigin=""/>

  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
          integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
          crossorigin=""></script>
  <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
          integrity="sha512-MQlyPV+ol2lp4KodaU/Xmrn+txc1TP15pOBF/2Sfre7MRsA/pB4Vy58bEqe9u7a7DczMLtU5wT8n7OblJepKbg=="
          crossorigin=""></script>


  <body>
    {% include 'banner.html' %}
    {% include 'menu.html' %}
    {% include 'search.html' %}

    <p>The Virtuoso database contains <span id="CounterDB"></span> public sequences!</p>

    <section class="search-section">
      <div class="filter-options" action="#">
        <p>[Demo] Display content sequences by: </p>
        <div>
          <button class="button" onclick="fetchSEQCountBySpecimen()">Count by Specimen source</button>
          <button class="button" onclick="fetchSEQCountByLocation()">Count by Location</button>
          <button class="button" onclick="fetchSEQCountByTech()">Count by Sequencer</button>
          <!-- <button class="button" onclick="fetchAllaccessions()">Show All accessions</button> -->
          <button class="button" onclick="fetchSEQCountbyContinent()">Count by Continent</button>
          <button class="button" onclick="fetchMap()">Map</button>
        </div>

      </div>

    </section>
    <div id="loader" class="loader invisible">
    </div>

    <section id="map_view" class="invisible">
      <div id="mapid"></div>
    </section>

    <section>
      <div id="table"></div>
    </section>

 {% include 'footer.html' %}

    <script type="text/javascript">
      let scriptRoot = {{ request.script_root|tojson|safe }}; // examples

      document.addEventListener("DOMContentLoaded", function(){
          var count = fetch("/api/getCountDB")
              .then((resp) => resp.json())
              .then(function (data) {
                  count = data["sequences"];
                  console.log(count);
                  span = document.getElementById("CounterDB");
                  txt = document.createTextNode(count);
                  span.appendChild(txt);
              });
      });

     drawMap()

    </script>

  </body>

</html>
