<section class="search-section">
  <div class="filter-options" action="#">
    <p>[Demo] Display content sequences by: </p>
    <div>
      <button class="button" onclick="fetchSEQCountBySpecimen()">Count by Specimen source</button>
      <button class="button" onclick="fetchSEQCountByLocation()">Count by Location</button>
      <button class="button" onclick="fetchSEQCountByTech()">Count by Sequencer</button>
      <button class="button" onclick="fetchAllaccessions()">Show All accessions</button>
      <button class="button" onclick="fetchSEQCountbyContinent()">Count by Continent</button>
      <button class="button" onclick="fetchCountByGPS()">Map</button>

    </div>

  </div>

  <div id="loader" class="loader invisible">
  </div>

  <section id="results" class="invisible">
    <pre><code id="json"></code></pre>
  </section>


</section>
 <section>
    <div id="table"></div>
  </section>
