<!DOCTYPE html>
<html>
  {% include 'header.html' %}
  <body>
    {% include 'banner.html' %}
    {% include 'menu.html' %}

    <p>The Virtuoso database contains <span id="CounterDB"></span> public sequences! The examples here should provide a starting point to explore our data in our public <a href="http://sparql.genenetwork.org/sparql">SPARQL endpoint</a> or via <a href="https://covid-19-sparql.expasy.org/">SIB COVID-19 Integrated Knowledgebase</a>. See also our documentation <a href="http://127.0.0.1:5000/blog?id=using-covid-19-pubseq-part1">here</a> for more information!</p>
    <!--
    <div class="search">
      <input id="search-input" type="search" placeholder="FASTA uri" required>
      <button class="button search-button" type="submit" onclick="search()">
        <span class="icon ion-search">
          <span class="sr-only">Search</span>
        </span>
      </button>
      <span class="dropt" title="http://collections.lugli.arvadosapi.com/c=00fede2c6f52b053a14edca01cfa02b7+126/sequence.fasta">(example)<span style="width:500px;"></span></span>
    </div>
    -->

    <section class="search-section">
      <div class="filter-options" action="#">
        <div>
          <button class="button" onclick="fetchSEQCountBySpecimen()">Count by Specimen source</button>
          <button class="button" onclick="fetchSEQCountByLocation()">Count by Location</button>
          <button class="button" onclick="fetchSEQCountByTech()">Count by Sequencer</button>
          <!-- <button class="button" onclick="fetchAllaccessions()">Show All accessions</button> -->
          <button class="button" onclick="fetchSEQCountbyContinent()">Count by Continent</button>
        </div>

      </div>

    </section>
    <div id="loader" class="loader invisible">
    </div>


    <section>
      <div id="table"></div>
    </section>

 {% include 'footer.html' %}

    <script type="text/javascript">
      let scriptRoot = {{ request.script_root|tojson|safe }}; // examples

      document.addEventListener("DOMContentLoaded", function(){
          var count = fetch("/api/getCountDB")
              .then((resp) => resp.json())
              .then(function (data) {
                  count = data["sequences"];
                  console.log(count);
                  span = document.getElementById("CounterDB");
                  txt = document.createTextNode(count);
                  span.appendChild(txt);
              });
      });
    </script>

  </body>

</html>
