<!DOCTYPE html>
<html>
  {% include 'header.html' %}
  <body>
    {% include 'banner.html' %}
    {% include 'menu.html' %}


    {% if embed %}
    {{ embed|safe }}
    {% endif %}

    <div class="search">
      <input id="search-input" type="search" placeholder="e.g. MT326090.1" required>
      <button class="button search-button" type="submit" onclick="searchGlobaltoDIVTable()">
        <span class="icon ion-search">
          <span class="sr-only">Search</span>
        </span>
      </button>
    </div>

    <section id="table" />

    </section>

    {% include 'footer.html' %}

    <script type="text/javascript">
      let scriptRoot = {{ request.script_root|tojson|safe }}; // examples
    </script>
  </body>

</html>
