<br>
</p>
<section class="footer">
  <div class="about">
    <div>
      <h1>ABOUT</h1>
      {% include 'blurb.html' %}
      <p>
        The repository will be maintained and expanded for the
        duration of the pandemic (and beyond). To contribute data
        simply upload it!  To contribute code and/or workflows see
        the <a href="https://github.com/arvados/bh20-seq-resource">project
        repository</a>. For more information see
        the <a href="/about">FAQ</a> and
        the <a href="https://github.com/arvados/bh20-seq-resource/blob/master/paper/paper.md">paper</a>
      </p>

    </div>
    <div class="sponsors">
      <div class="sponsorimg">
        <a href="https://github.com/virtual-biohackathons/covid-19-bh20">
          <img src="static/image/covid19biohackathon.png"></a>
      </div>
      <div class="sponsorimg">
        <a href="https://www.commonwl.org/"><img src="static/image/CWL-Logo-Header.png"></a>
      </div>
      <div class="sponsorimg">
        <a href="https://arvados.org/"><img src="static/image/arvados-logo.png"></a>
      </div>
      <div class="sponsorimg">
        <a href="https://uthsc.edu/"><img src="static/image/UTHSC-primary-stacked-logo-4c.png"></a>
      </div>
    </div>
  </div>
  <div class="footer">
    <!-- Sponsors -->

    <center>
      <small><a href="https://github.com/arvados/bh20-seq-resource">Source code</a> &middot; Powered by <a href="https://www.commonwl.org/">Common Workflow Language</a> &amp; <a href="https://arvados.org/">Arvados</a>; Made for <a href="https://github.com/virtual-biohackathons/covid-19-bh20">COVID-19-BH20</a>
      </small>
    </center>
  </div>
</class>
