<br>
<section class="footer">
  <div class="about">
    <div>
      <h1>ABOUT</h1>
      {% include 'blurb.html' %}
      <p>
        The repository will be maintained and expanded for the
        duration of the pandemic (and beyond). To contribute data
        simply upload it!  To contribute code and/or workflows see
        the <a href="https://github.com/arvados/bh20-seq-resource">project
        repository</a>. For more information see
        the <a href="/about">FAQ</a> and
        the <a href="https://github.com/arvados/bh20-seq-resource/blob/master/paper/paper.md">paper</a>
      </p>


    </div>
    <div class="sponsors">
      <a href="{{ url_for('static',filename='image/BCC2020_AndreaGuarracino_COVID19PubSeq_Poster.pdf') }}">
        <img src="{{ url_for('static', filename='image/BCC2020_AndreaGuarracino_COVID19PubSeq_Poster.png') }}"  alt="BCC2020 COVID19 PubSeq Poster"/>
      </a>
      <h3>OUR SPONSORS</h3>
      <div class="sponsorimg">
        <a href="https://github.com/virtual-biohackathons/covid-19-bh20">
          <img src="{{ url_for('static',filename='image/covid19biohackathon.png') }}"></a>
      </div>
      <div class="sponsorimg">
        <a href="https://www.curii.com/"><img src="{{ url_for('static',filename='image/curii.logo.ai.png') }}"></a>
      </div>
      <div class="sponsorimg">
        <a href="https://arvados.org/"><img src="{{ url_for('static',filename='image/arvados-logo.png') }}"></a>
      </div>
      <div class="sponsorimg">
        <a href="https://www.commonwl.org/"><img src="{{ url_for('static',filename='image/CWL.png') }}"></a>
      </div>
      <div class="sponsorimg">
        <a href="https://uthsc.edu/"><img src="{{ url_for('static',filename='image/UTHSC-primary-stacked-logo-4c.png') }}"></a>
      </div>
      <div class="sponsorimg">
        <a href="https://www.esr.cri.nz/"><img src="{{ url_for('static',filename='image/ESR.png')}}"></a>
      </div>

    </div>
  </div>
  <div class="footer">
    <!-- Sponsors -->

    <center>
      <small>
        COVID-19 PubSeq &middot;
        <a href="https://github.com/arvados/bh20-seq-resource">Contribute</a> &middot; Powered by <a href="https://www.commonwl.org/">Common Workflow Language</a> &amp; <a href="https://arvados.org/">Arvados</a> &middot; Made for <a href="https://github.com/virtual-biohackathons/covid-19-bh20">COVID-19-BH20</a>
      </small>
    </center>
  </div>
</section>
{% if load_map %}
<script type="text/javascript" src="/static/map.js"></script>
{% endif %}
<script type="text/javascript" src="/static/main.js"></script>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){
      var count = fetch("/api/getCount")
          .then((resp) => resp.json())
          .then(function (data) {
              count = data["sequences"];
              console.log(["Counted: ",count]);
              span = document.getElementById("Counter");
              txt = document.createTextNode(count);
              span.appendChild(txt);
      });
  });
</script>
