<head>
  <meta charset="UTF-8">
  <meta name="description" content="COVID-19 PubSeq: Public SARS-CoV-2 Sequence Resource and Workflows">
  <meta name="keywords" content="COVID-19, SARS-CoV-2, GFA, Pangenome, FASTA, FASTQ, CWL, Workflow, Oxford Nanopore, ONT, Sequencing">
  <meta name="author" content="Pjotr Prins, Peter Amstutz, Andrea Guarracino, et al.">
  <link href="/static/main.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>COVID-19 PubSeq: Public SARS-CoV-2 Sequence Resource</title>
  {% if blog %}
  <link rel="Blog stylesheet" type="text/css" href="/static/blog.css" />
  {% endif %}
</head>
