    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link href="/static/main.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>COVID-19 PubSeq: Public SARS-CoV-2 Sequence Resource</title>
        <script type="text/javascript" src="/static/main.js"></script>
        {% if blog %}
        <link rel="Blog stylesheet" type="text/css" href="/static/blog.css" />
        {% endif %}
    </head>
