<!DOCTYPE html>
<html>
  {% include 'header.html' %}
  {% include 'mapheader.html' %}
    <body>
      {% include 'banner.html' %}
      {% include 'menu.html' %}

      <section>
                <div class="intro">

                  <p>
                    COVID-19 PubSeq is a free and open online
                    bioinformatics public sequence resource with
                    on-the-fly analysis of sequenced SARS-CoV-2
                    samples that allows for a quick turnaround in
                    identification of new virus strains. PubSeq allows
                    anyone to upload sequence material in the form of
                    FASTA or fastq files with accompanying metadata
                    through the <a href="/upload">web interface</a> or <a href="/apidoc">REST API</a>.
                  </p>
                  <p>
                    Make your sequence
                    data <a href="https://en.wikipedia.org/wiki/FAIR_data">FAIR</a>. Upload
                    your SARS-CoV-2 sequence (FASTA or FASTQ formats)
                    with simple metadata (JSONLD) to
                    the <a href="/about">public sequence
                    resource</a>. The upload will trigger a recompute
                    with all available sequences into a Pangenome
                    available for
                    <a href="/download">download</a>!
                  </p>
                  <p>
                    Your uploaded sequence will automatically be
                    processed and incorporated into the public
                    pangenome with metadata using worklows from the
                    High Performance Open Biology Lab
                    defined <a href="https://github.com/hpobio-lab/viral-analysis/tree/master/cwl/pangenome-generate">here</a>. All
                    data is published under
                    a <a href="https://creativecommons.org/licenses/by/4.0/">Creative
                    Commons license</a> You can take the published
                    (GFA/RDF/FASTA) data and store it in a triple
                    store for further processing.  Clinical data can
                    be stored securely
                    at <a href="https://redcap-covid19.elixir-luxembourg.org/redcap/">REDCap</a>.
                  </p>
                  <p>
                    Note that form fields contain
                    web <a href="https://en.wikipedia.org/wiki/Web_Ontology_Language">ontology
                    URI's</a>
                    for <a href="https://en.wikipedia.org/wiki/Wikipedia:Disambiguation">disambiguation</a>
                    and machine readable metadata. For examples of
                    use, see the <a href="/blog">BLOG</a>.
                  </p>
                </div>
        </section>

      <section id="map_view" class="map">
        <div id="mapid"></div>
      </section>

      {% include 'footer.html' %}


      <script type="text/javascript">
        let scriptRoot = {{ request.script_root|tojson|safe }}; // examples

        drawMap()

      </script>

   </body>
</html>
