<!DOCTYPE html>
<html>
  {% include 'header.html' %}
  {% include 'mapheader.html' %}
    <body>
      {% include 'banner.html' %}
      {% include 'menu.html' %}

      <section>
                <div class="intro">

                  <p>
                    PubSeq has the goal of providing federated open
                    data with permanent links in the form of uniform
                    resource identifiers with creative commons data
                    sharing licenses that can be used in research
                    publications and for reproducible workflows using
                    free and open source software. <b>Federated
                    data</b> means that there is no central
                    authority. <b>Free software</b> means that anyone
                    can run the PubSeq website and replicate PubSeq
                    workflows.
                  </p>

                  <section class="flex-container">
                      <div id="map_view" class="map">
                          <div id="mapid"></div>
                      </div>

                      {% if all_items %}
                      <div id="feed">
                          <input name="feed-tabs" type="radio" id="tab-all-items" checked/>
                          <label for="tab-all-items">All Items</label>
                          <input name="feed-tabs" type="radio" id="tab-arxiv-articles"/>
                          <label for="tab-arxiv-articles">Arxiv</label>
                          <input name="feed-tabs" type="radio" id="tab-pubmed-articles"/>
                          <label for="tab-pubmed-articles">Pubmed</label>
                          <input name="feed-tabs" type="radio" id="tab-tweets"/>
                          <label for="tab-tweets">Tweets</label>
                          <input name="feed-tabs" type="radio" id="tab-commits"/>
                          <label for="tab-commits">Commits</label>
                          <ul class="tab content-all-items">
                              <!-- Begin News -->
                                  {% if all_items %}
                                  {% for item in all_items|sort(reverse=true, attribute="score")%}
                                  <li>
                                      {% if item['authors'] %}
                                      <!-- Arxiv article -->
                                      <p>
                                          <b>[arxiv]</b>
                                          <a href="{{ item['url'] }}" target="_blank">
                                              {{item['title']}}
                                          </a>
                                          <br/>
                                          <b>Authors:</b> {{ item['authors'] }}
                                          <br/>
                                          <b>Abstract:</b> {{ item['abstract']}}...
                                          <br/>
                                          <b>Submitted:</b> {{ item['submission']}}
                                      </p>

                                      {% elif item['full-authors'] %}
                                      <!-- Pubmed Article -->
                                      <p><b>[Pubmed]:</b>
                                          <a href="https://pubmed.ncbi.nlm.nih.gov/{{ item['docsum-pmid'] }}" target="_blank"><b>Summary:</b>
                                              {{ item['summary'] }}
                                          </a> <br/>
                                          <b>Full Authors:</b> {{ item['full-authors'] }} <br/>
                                          <b>Short Authors:</b> {{ item['short-authors'] }} <br/>
                                          <b>Citation:</b> {{ item['citation'] }} <br/>
                                          <b>Short Journal Citation:</b> {{ item['short-journal-citation'] }} <br/>
                                      </p>

                                      {% elif item['tweet'] %}
                                      <!-- Tweets -->
                                      <p>
                                          <b>[Tweet]:</b>
                                          {{ item['tweet']|urlize(40, target="_blank")}}
                                          <small>
                                              <a href="{{ item['url'] }}" target="_blank">source</a></small>
                                          <br/>
                                          by {{ item['author'] }}
                                          <br/>
                                          <small>{{ item['timeposted'] }}</small>
                                      </p>

                                      {% elif item['repository-url'] %}
                                      <!-- Commits -->
                                      <p>
                                          <b>[Commit]:</b>
                                          <a href="{{ item.url }}" target="_blank">
                                              {{ item.hash.split(":")[-1][:7] }}: {{ item.content }}
                                          </a>
                                          <br/>
                                          <small>
                                              <a href="{{ item['repository-url'] }}" target="_blank"> {{ item.author }}/{{ item.repository }}</a>
                                              on {{ item.timeposted }}
                                          </small>
                                      </p>
                                      {% endif %}
                                  </li>
                                  {%endfor%}

                                  {% else %}
                                  There are no items to display :(
                                  {% endif %}
                              <!-- End News -->
                          </ul>
                          <ul class="tab content-arxiv-articles">
                              {% if arxiv_articles %}
                              {% for article in arxiv_articles|sort(reverse=true, attribute="score")%}
                              <li>
                                  <p><a href="{{article['url']}}">{{ article['title'] }}</a></p>
                                  <p><b>Authors:</b> {{ article['authors'] }}</p>
                                  <p><b>Abstract:</b> {{ article['abstract']}}...</p>
                                  <p><b>Submitted:</b> {{ article['submission']}}</p>
                              </li>
                              {% endfor %}
                              {% else %}

                              There are no articles to display :(

                              {% endif %}
                          </ul>
                          <ul class="tab content-pubmed-articles">
                              {% if pubmed_articles %}
                              {% for article in pubmed_articles|sort(reverse=true, attribute="score")%}
                              <li>
                                  <p><a href="https://pubmed.ncbi.nlm.nih.gov/{{article['docsum-pmid']}}"><b>Summary:</b> {{ article['summary'] }}</a></p>
                                  <p><b>Full Authors:</b> {{ article['full-authors'] }}</p>
                                  <p><b>Short Authors:</b> {{ article['short-authors'] }}</p>
                                  <p><b>Citation:</b> {{ article['citation'] }}</p>
                                  <p><b>Short Journal Citation:</b> {{ article['short-journal-citation'] }}</p>
                              </li>
                              {% endfor %}
                              {% else %}

                              There are no articles to display :(

                              {% endif %}
                          </ul>
                          <ul class="tab content-tweets">
                              {% if tweets %}
                              {% for tweet in tweets|sort(reverse=true, attribute="score")%}
                              <li>
                                  <p class="tweet">
                                      {{ tweet.tweet|urlize(40, target="_blank") }} <br/>
                                      by {{ tweet.author }}
                                  </p>
                                  <small class="timeposted">
                                      {{ tweet.timeposted }}
                                  </small>
                              </li>
                              {% endfor %}

                              {% else %}

                              There are no tweets to display :(

                              {% endif %}
                          </ul>
                          <ul class="tab content-commits">
                              {% if commits %}
                              {% for commit in commits|sort(reverse=true, attribute="score")%}
                              <li>
                                  <p class="commit">
                                      <a href="{{commit.url}}" target="_blank">
                                          {{ commit.hash.split(":")[-1][:7] }}:{{ commit.content}}
                                      </a>

                                  </p>
                                  <small class="timeposted">
                                      <a href="{{ commit['repository-url']}}" target="_blank">{{ commit.author }}/{{ commit.repository }}</a>
                                       on {{ commit.timeposted}}
                                  </small>
                              </li>
                              {% endfor %}
                              {% else %}
                              There are no commits to be displayed.
                              {%  endif %}
                          </ul>
                      </div>
                      {%  endif %}
                  </section>

                  <div class="cite">
                    The Institute of Environmental Science and
                    Research (Māori: Te Whare Manaaki Tangata, Taiao
                    hoki) actively participates in PubSeq because our
                    SARS-CoV-2 sequencing and accompanying results
                    should be available to everyone on the
                    planet. Likewise New Zealand benefits from
                    sequences uploaded by individual labs world-wide
                    and we contribute to PubSeq metadata efforts and
                    online sequence uploading using the Oxford
                    Nanopore sequencer, with the goal of enabling
                    sequencing everywhere &mdash; Joep de Ligt PhD,
                    ESR, Wellington NZ.
                  </div>
                  <p>
                    PubSeq exists because we believe that (anonymised)
                    Pandemic viral data should be out in the open for
                    everyone with sufficient metadata to trace strains
                    across countries.
                  </p>
                  <div class="cite">
                    At the University of Tennessee Health Science
                    Center we support FAIR data initiatives and we
                    actively use PubSeq to build phylogenetic
                    trees. In the context of PubSeq we also contribute
                    to new pangenome methods that benefit from open
                    data exchange &mdash; Pjotr Prins PhD, Memphis TN,
                    USA
                  </div>
                  <p>
                    PubSeq is also an online bioinformatics public
                    computational resource with unique metadata that
                    provides on-the-fly analysis of
                    sequenced <a href="https://pubmed.ncbi.nlm.nih.gov/?term=sars-cov-2&sort=date">SARS-CoV-2</a>
                    samples and allows a quick turnaround in
                    identification of new viral strains. PubSeq allows
                    anyone to upload sequence material in the form of
                    FASTA or FASTQ files with accompanying metadata
                    through the <a href="/upload">web interface</a>
                    or <a href="/apidoc">REST API</a>. For more
                    information see the <a href="/about">FAQ!</a>.
                  </p>
                  <div class="cite">
                    In recent months, leading genomic researchers have
called for the submission of SARS-CoV-2 genomic sequence to open
genomic data repositories as a key factor to winning the battle
against COVID-19. PubSeq, an open access sequence repository,
currently contains over 33,000 SARS-CoV-2 viral genomes with rich
associated metadata (sample location, type, submitting lab
information) that can be queried using Amazon Simple Storage Service
(Amazon S3) Select or Amazon Athena. PubSeq also integrates seamlessly
with Arvados for on-the-fly analysis of sequenced SARS-CoV-2 samples
and rapid identification of novel viral strains. It joins the
Coronavirus Genome Sequence Dataset provided by the National Center
for Biotechnology Information in the Registry of Open Data on AWS,
making this one of the richest sources of coronavirus genome sequence
data freely available to the public. From the
<a href="https://aws.amazon.com/blogs/publicsector/sars-cov-2-viral-genomes-storm-surge-forecasts-cloud-free-satellite-imagery-open-data/">AWS BLOG</a>
                  </div>


                  <a href="https://projectredcap.org/"><img class="img-right" src="static/image/REDCap.png" /></a>
                  <p>
                    Make your sequence
                    data <a href="https://en.wikipedia.org/wiki/FAIR_data">FAIR</a>. Upload
                    your SARS-CoV-2 sequence (FASTA or FASTQ formats)
                    with simple metadata (JSONLD) to
                    the <a href="/about">public sequence
                    resource</a>. The upload will trigger a recompute
                    with all available sequences into a Pangenome
                    available for
                    <a href="/download">download</a>!
                  </p>
                  <p>
                    Your uploaded sequence will automatically be
                    processed and incorporated into the public
                    pangenome with metadata using worklows from the
                    High Performance Open Biology Lab
                    defined <a href="https://github.com/hpobio-lab/viral-analysis/tree/master/cwl/pangenome-generate">here</a>. All
                    data is published under
                    a <a href="https://creativecommons.org/licenses/by/4.0/">Creative
                    Commons license</a> You can take the published
                    (GFA/RDF/FASTA) data and store it in a triple
                    store for further processing.
                    Clinical data can
                    be stored securely
                    at <a href="https://redcap-covid19.elixir-luxembourg.org/redcap/">REDCap</a>.
                  </p>
                  <a href="https://nanoporetech.com/"><img class="img-right" src="static/image/oxford-nanopore2.jpg" /></a>
                  <p>
                    Data can be uploaded from any sequencing platform
                    in FASTA format. We give special attention to
                    workflows for
                    the <a href="https://nanoporetech.com/">Oxford
                    Nanopore</a> - see
                    also <a href="https://pubmed.ncbi.nlm.nih.gov/?term=sars-cov-2+nanopore&sort=date">pubmed</a>
                    - because it offers an affordable platform that is
                    great for SARS-CoV-2 sequencing and
                    identification. In New Zealand the Oxford Nanopore
                    is used for all
                    <a href="https://www.esr.cri.nz/home/about-esr/media-releases/esr-performs-first-new-zealand-genome-sequencing-on-covid-19-sample/">tracing</a>.
                  </p>
                  <p>
                    Note that form fields contain
                    web <a href="https://en.wikipedia.org/wiki/Web_Ontology_Language">ontology
                    URI's</a>
                    for <a href="https://en.wikipedia.org/wiki/Wikipedia:Disambiguation">disambiguation</a>
                    and machine readable metadata. For examples of
                    use, see the <a href="/blog">docs</a>.
                  </p>
                </div>
              </section>


      {% include 'footer.html' %}


      <script type="text/javascript">
        let scriptRoot = {{ request.script_root|tojson|safe }}; // examples

        drawMap()

      </script>

   </body>
</html>
