<section class="menu">
  <div class="topnav" id="myTopnav">
    <a href="/" class="{{ 'active' if menu=='HOME' }}">PUBSEQ</a>
    <a href="/download" class="{{ 'active' if menu=='DOWNLOAD' }}">DOWNLOAD</a>
    <a href="/upload" class="{{ 'active' if menu=='UPLOAD' }}">UPLOAD</a>
    <a href="/status" class="{{ 'active' if menu=='STATUS' }}">STATUS</a>
    <a href="/demo" class="{{ 'active' if menu=='DEMO' }}">DEMO</a>
    <a href="/export" class="{{ 'active' if menu=='EXPORT' }}">EXPORT</a>
    <a href="/blog" class="{{ 'active' if menu=='BLOG' }}">DOCS</a>
    <a href="/about" class="{{ 'active' if menu=='ABOUT' }}">ABOUT</a>
    <a href="/contact" class="{{ 'active' if menu=='CONTACT' }}">CONTACT</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</section>
