<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Upload Successful</title>
    </head>
    <body>
        <h1>Upload Successful</h1>
        <hr>
        <p>
            Your files have been uploaded. They should soon appear as part of the <a href="https://workbench.lugli.arvadosapi.com/collections/lugli-4zz18-z513nlpqm03hpca">Public SARS-CoV-2 Sequence Resource</a>.
        </p>
        <p>
            The upload log was:
        </p>
        <pre>{{log}}</pre>
        <hr>
        <p>
            <a href="/">Click here to upload more files.</a>
        </p>
        <hr>
    </body>
</html>
