hr {
    margin: auto 0;
}

body {
    color: #101010;
    background-color: #F5FFFF;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Inter', sans-serif;
    color: #008066;
}

h1 {
    text-align: center;
}

.intro {
    color: #505050;
    // font-weight: 300;
}

.header {
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    height: 150px;
}

#Counter {
    color: lightgrey;
    background-color: black;
    font-size: large;
    padding: 3px;
}

h2 > svg {
    position: relative;
    top: 8px;
}

.logo {
    float: right;
}

#mapid {
    width: 800px;
    height: 440px;
    border: 1px solid #AAA;
}
/* ---- start menu ---- */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #008066;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* ---- end menu ---- */

p, form, .about, .footer {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}

form h4 {
    text-transform: uppercase;
}

.intro, form, .search {
    padding: 20px;
}

.intro {
    background-color: inherit;
    margin: 0 auto;
    padding: 20px;
}

.about {
    background-color: #B2F8F8;
    margin: 30px auto;
    padding: 20px;
    width: 95%;
    border-radius: 20px;
}

.button {
    border-radius: 5px;
    background: #B2F8F8;
    margin: 0.3em auto;
    padding: 0.4em;
}

.footer {
    background: #058280;;
    margin: 0 auto;
    float: left;
    color: #fff;
}

.footer a {
    color: #fff;
}

span.dropt {border-bottom: thin dotted; background: #ffeedd;}
span.dropt:hover {text-decoration: none; background: #ffffff; z-index: 6; }

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap:5px;
    grid-template-areas:
        "b b a a"
	"b b c c"
        "b b d d"
        "e e e e"
        "f f f f";
    grid-auto-flow: column;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
}

.about h1 {
    text-align: left;
}

.about a {
    color: #008066;
}

.about p {
    color: #505050;
}

.intro {
    grid-area: a;
}

.fasta-file-select {
    padding: 1em;
    grid-area: b;
}

a {
    color: #008066;
    font-weight: 700;
}

.fasta-file-select label, .metadata label {
    font-weight: 600;
}

.metadata {
    padding: 1em;
    grid-area: c;
}
.metadata_upload_form {
    padding: 1em;
    grid-area: c;
}

#metadata_upload_form_spot {
    grid-area: d;
}

#metadata_fill_form_spot {
    grid-area: e;
}

#metadata_fill_form {
    column-count: 4;
    margin-top: 0.5em;
    column-width: 15em;
}

.record, .record .field-group, .record .field-group .field {
    display: flex;
    flex-direction: column;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid;
    display: block;
    width: 90%;
}

.record {
    border: solid 1px #808080;
    padding: 1em;
    background: #F8F8F8;
    margin-bottom: 1em;
}

.record label {
    font-size: small;
    margin-top: 10px;
}

.search-section {
    display: flex;
    justify-content: space-between;
    width: max-content;
}

.control {
    width: 100%;
}

.filter-options {
    width: 100%;
}
.search-section .filter-options {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.search-section p {
    margin: 0;
}

.submit {
    grid-area: f;
    width: 17em;
    justify-self: center;
}

footer {
    display: block;
    width: 100%;
}

.sponsors {
    width: inherit;
    display: inline-block;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.sponsors a {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sponsorimg {
}

.sponsorimg img {
    width: auto;
    display: block;
    margin: auto;
    height: 4em;
}

.loader {
    display: block;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: auto;
    margin-left: auto;
    animation: spin 1.5s linear infinite;
}

.invisible {
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (max-device-width: 480px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }
}


.rTable
{
    display: table;
}
.rTableTitle
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.rTableHeading
{
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.rTableRow
{
    display: table-row;
}
.rTableCell
{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}

.blog {
    margin: 10px;
}

.blog h2 {
    color: black;
}

.blog-table {
    display: table;
    width: 100%;
}
.blog-table-row {
    display: table-row;
}
.blog-table-heading {
    display: table-header-group;
    background-color: #ddd;
}
.blog-table-cell, .blog-table-head {
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid #999999;
}
.blog-table-footer {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}
.blog-table-body {
    display: table-row-group;
}

.img-right {
    float: right;
    height: 200px;
}

div.status {
    margin: 1em;
}

.status table {
    display: table;
    width: 100%;
}

.status td, th {
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}

.map {
    padding: 20px 32px;
}

.map-marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}
.map-marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.map-marker-cluster span {
    line-height: 30px;
}

.my-custom-icon {
  width: 60px !important;
  height: 40px !important;
  opacity: 0.5;
  border-radius: 30px;
  border: 2px solid #3F51B5;
  text-align: center;
  color: black;
  background-color: lightgreen;
  font-weight: bold;
  font-size: 18px;
}

.my-custom-icon.my-custom-icon-0 {
  background-color: red;
}
.my-custom-icon.my-custom-icon-1 {
  background-color: orange;
}
.my-custom-icon.my-custom-icon-2 {
  background-color: #FFFAF0;
}
.my-custom-icon.my-custom-icon-3 {
  background-color: #00CED1;
}
.my-custom-icon.my-custom-icon-4 {
  background-color: #FFD700;
}
.my-custom-icon.my-custom-icon-5 {
  background-color: pink;
}
.my-custom-icon.my-custom-icon-6 {
  background-color: lightgrey;
}

.editbutton {
    float: right;
    text-align: right;
    background-color: lightgrey;
    border: 2px solid #4CAF50;
    border-radius: 12px;
    color: black;
    padding: 5px 32px;
    // text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
